# Based on:
# https://github.com/ajclark/preseed/blob/master/preseed.cfg

# Ignore questions with a priority less than
d-i debconf/priority string critical
#d-i	debconf/frontend string text
debconf debconf/priority string critical
unknown debconf/priority string critical

# Locales
d-i debian-installer/locale string en_US
d-i console-keymaps-at/keymap select us
d-i keyboard-configuration/xkb-keymap select us

# Hardware
d-i hw-detect/load_firmware boolean false

# Network
d-i netcfg/enable boolean true
d-i netcfg/choose_interface select auto
d-i netcfg/dhcp_timeout string 120
d-i netcfg/wireless_wep string

# Mirror options
d-i mirror/country string CZ
d-i mirror/protocol select http
d-i mirror/http/countries string CZ
d-i mirror/http/hostname string http.us.debian.org
d-i mirror/http/directory string /debian
d-i mirror/http/proxy string
d-i mirror/suite string wheezy
d-i retriever/net/error	select Retry

# APT options
d-i apt-setup/non-free boolean true
d-i apt-setup/contrib boolean true
d-i apt-setup/security-updates boolean true
#d-i apt-setup/services-select multiselect security, volatile
#d-i apt-setup/security_host string security.debian.org
#d-i apt-setup/volatile_host string volatile.debian.org

# Additional APT repos
#d-i apt-setup/local0/comment string Debian Backports
#d-i apt-setup/local0/repository string http://backports.debian.org/debian-backports squeeze-backports main contrib non-free
#d-i apt-setup/local0/source boolean true

# Packages
tasksel tasksel/first multiselect standard
d-i pkgsel/upgrade select safe-upgrade
#d-i base-installer/install-recommends boolean false
popularity-contest popularity-contest/participate boolean false
d-i pkgsel/include string ssh vim emacs mc dstat bzip2 zip unzip unrar-free lzma rsync ia32-libs xterm x11-apps build-essential 
d-i preseed/late_command string tar -xvf /cloud.tar -C /target/etc/ && cp /cloud-init-wheezy.deb /target/root/ && in-target --pass-stdout /bin/bash -c "chown -R root:root /etc/cloud/; dpkg -i /root/cloud-init-wheezy.deb; apt-get --option Dpkg::Options::=--force-confold --assume-yes --quiet -f install; update-rc.d cloud-init-local defaults; update-rc.d cloud-init defaults; update-rc.d cloud-config defaults; update-rc.d cloud-final defaults; rm /etc/ssh/ssh_host*; sed -i -e 's/.*127\.0\.1\.1.*//' /etc/hosts; echo acpiphp >>/etc/modules; sed -i -e 's/allow-hotplug/auto/' /etc/network/interfaces; echo -e 'allow-hotplug eth1\niface eth1 inet dhcp' >>/etc/network/interfaces"

# Timezone / NTP
d-i time/zone string CET
d-i clock-setup/utc boolean true
d-i clock-setup/ntp boolean true
d-i clock-setup/ntp-server string time.fi.muni.cz

# Root account
d-i passwd/make-user boolean false
d-i passwd/root-login boolean true
d-i passwd/root-password-crypted password *

# Partitioning
d-i partman-auto/method string lvm
d-i partman-auto-lvm/new_vg_name string vg0
d-i partman/alignment string cylinder
d-i partman-auto/alignment string cylinder
d-i partman-auto/expert_recipe string  \
	multiraid :: \
		256 256 256 ext4 \
			$primary{ } $bootable{ } method{ format } format{ } \
			use_filesystem{ } filesystem{ ext4 } \
			mountpoint{ /boot } \
		. \
		2048 10000 1000000 ext4 \
			$defaultignore{ } $lvmok{ } method{ format } format{ } \
			use_filesystem{ } filesystem{ ext4 } \
			lv_name{ root } \
			mountpoint{ / } \
		. \
		512 512 512 ext2 \
			$defaultignore{ } $lvmok{ } method{ format } format{ } \
			use_filesystem{ } filesystem{ ext2 } \
			lv_name{ cache } \
			mountpoint{ /var/cache/openafs } \
		.

d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nochanges boolean true
d-i partman/confirm_nooverwrite boolean true
d-i partman-lvm/confirm boolean true
d-i partman-lvm/confirm_nochanges boolean true
d-i partman-lvm/confirm_nooverwrite boolean true
d-i partman-lvm/device_remove_lvm boolean true
d-i partman-basicfilesystems/no_swap boolean false
d-i partman-basicfilesystems/no_swap seen true 

# Controlling how partitions are mounted
# The default is to mount by UUID, but you can also choose "traditional" to
# use traditional device names, or "label" to try filesystem labels before
# falling back to UUIDs.
d-i partman/mount_style select label

# Avoid that last message about the install being complete.
d-i cdrom-detect/eject boolean false
d-i finish-install/reboot_in_progress note
d-i finish-install/keep-consoles boolean true
